.currentScore{
    background-color: turquoise;
    height: 130px;
    width:130px;
    text-align: center;
    color:white;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
h4{
    background-color: turquoise;
    font-size: 30px;
}
p{
    background-color: turquoise;
    font-size: 25px;
}